* {
box-sizing: border-box;
}

.header {
    background-color: blueviolet;
    opacity: 0.8;
    width: 100vw;
    height: 15vh;
}

#navlines {
    height: 4.5vh;
    margin: 1rem;
    margin-right: 7rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.background {
    display: block;
    width: 100vw;
    height: 40vh;
    background-image: url(../img/beautiful-country-countryside-414061.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Mali', cursive;
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
}

.icons-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-container img {
    height: 4rem;
    margin: 1.5rem;
}

.main p {
    text-align: center;
    font-family: 'Niramit', sans-serif;
    font-size: 1rem;
    padding: 2rem;
    line-height: 200%;
}

.footer {
    width: 100vw;
    background-color: darkseagreen;
    text-align: center;
    padding: 3rem;
}

@media (min-width: 1024px){
    
.footer {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    }
.background {
    font-size: 5rem;
    }
}

@media (min-width: 1366px){
.main p {
    font-size: 1.5rem;}
} 

@media (min-width: 768px) and (max-width:1000px){
.main p {
    font-size: 1.5rem;
    padding: 2rem;
    line-height: 200%;
    }
}
